/*
  Gollum v3 Template
*/

/* margin & padding reset*/
* {
  margin: 0;
  padding: 0;
}

html, body {
  color: #333;
}

body {
  font: 13.34px helvetica,arial,freesans,clean,sans-serif;
  line-height: 1.4;
  margin: 5px;
}

img {
  border: 0;
}

a {
  color: #4183C4;
  text-decoration: none;
}

a.absent {
  color: #c00;
}